body {
  font-family: poppins, sans-serif;
  margin: 0px;
}
p {
  color: gray;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 28px;
}
.orange {
  color: orange;
}
a {
  font-weight: 600;
  color: white;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 30px;
}
.half-width {
  margin-left: 40px;
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
.flexible-container {
  display: flex;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.dream-big {
  background-image: url(images/dream-bg.png);

  background-repeat: no-repeat;
  background-position: right;
}
.Experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 100px;
}
.Experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
}
#web-developer {
  border-left: 7px solid;
  border-image: linear-gradient(tomato, purple);
  border-image-slice: 1;
}
#exp-baby {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  align-items: center;
}
